@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Naskh+Arabic:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --font_family_poppins: "Poppins", sans-serif;
  --font_family_Figtree: "Figtree", sans-serif;
  --font-family-Noto: "Noto Sans Arabic", sans-serif;
  --font-family-Naskh: "Noto Naskh Arabic", serif;
  --font-family-Amiri: "Amiri", serif;
  /* rgb(219 194 107) */
}

body {
  margin: 0%;
  padding: 0%;
  font-family: var(--font_family_Figtree) !important;
  /* font-family: var(--font-family-Noto); */
}
.tit{
  font-size: 14px !important;
}
.home_lib_image {
  width: 100%;
  height: 100px !important;
}
.single_ayah_div {
  border-radius: 10px !important;

}
@media (max-width:778px) {
  .bis_text{
    font-size: 14px !important;
  }
}

.aya_time {
  padding: 4px 10px;
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 50% !important;
  font-size: 12px;
  margin: 0px 5px !important;
}
.lib_thumbnail{
  object-fit: cover;
  background-size: cover;
  border-radius: 20px;

}
.cp_bnt{
  background-color: transparent;
  padding: 0px !important;
  border: none;
  font-weight: 400 !important;
  text-align: start !important;
}
/* NAVBAR LARGE CSS START */
.font_naskh {
  font-family: var(--font-family-Amiri) !important;
}

.carousel-item img {
  height: 90vh;
  width: 100% !important;
  object-fit: cover;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: top !important;
}

.tabs_srrt {
  overflow-y: scroll;
  height: 95vh !important;
}

.tabs_srrt::-webkit-scrollbar {
  background-color: transparent !important;
}

.tabs_srrt::-webkit-scrollbar-thumb {
  width: 30% !important;
  margin: 0% 15% !important;
  /* Adjust as needed */
  background-color: rgba(180, 180, 180, 0.3);
  /* Mostly transparent */
  border-radius: 10px !important;
  height: -10px !important;
}

.tabs_srrt::-webkit-scrollbar-track {
  height: 10px !important;
  background-color: rgba(240, 240, 240, 0.5);
  /* Light track color */
}

.nav_tabs_of_s::-webkit-scrollbar {
  background-color: rgb(214, 214, 214) !important;
}

.nav_tabs_of_s::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95) !important;
}

.scroll_top_btn {
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 2;
}

.tb {
  position: fixed;
  top: 0%;
  background-color: white;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.scroll_top_btn button {
  border: 0;
  padding: 10px 15px;
  color: white;
  background-color: black;
  border-radius: 50px;
}

.offcanvas {
  width: 70%;

  z-index: 1212 !important;
  transition: 0.9s ease-in-out !important;
}

.navbar {
  transition: 0.9s ease-in-out !important;

}

/* NAVBAR LARGE CSS END */
.single_surah_div {
  padding: 10px 15px;
  border-radius: 10px;
  margin: 2px auto;
  border: 2px solid white !important;
  background-color: rgb(235, 235, 235);
}

.sinle_car {
  height: 40vh !important;
}

.arabi {
  padding: 10px 0px !important;
  font-size: 32px !important;
}

.ayah_name {
  background-color: white !important;

}

.share_div {
  position: sticky;
  bottom: 3% !important;

}

.share_div button {
  background-color: rgb(206, 205, 205);
  padding: 5px 10px;
  border: none !important;
}

.Sign-in_singup_form input {
  padding: 10px 14px;
  border-radius: 8px;
  font-family: var(--font_family_Figtree) !important;
  border: 1px solid rgb(233, 231, 231);
}

@media (min-width:992px) {
  .tab_s {
    position: sticky !important;
    top: 1% !important;
    height: max-content !important;

  }
}

@media (max-width:430px) {
  .top_1-e a {
    font-size: 13px;
  }
}

.top_toogle_icon {
  transform: rotate(90deg);
}

.nav-tabs .nav-link {
  color: #6d94bb;
  /* Normal tab color */
}

.custom-select {
  max-height: 200px;
  /* Controls dropdown height */
  overflow-y: auto;
}

.bg {
  background-color: rgb(235, 235, 235);
}
.bg_1 {
  box-shadow: rgba(109, 109, 109, 0.09) 0px 3px 12px;
  /* background-color: rgb(241, 241, 241); */
}
.nav_tab_name_Sura{
 transition: 0.5s ease-in-out;
  font-size: 15px !important;
  border-radius: 20px !important;
  width: 90% !important;
  text-align: start !important;
  border: none !important;
  color: rgb(109, 109, 109) !important;
}
.nav_tab_name_Sura_nav-link{
  width: 90% !important;
  
}
.nav_tab_name_Sura.active{
  border-radius: 20px !important;
  width: 90% !important;
  text-align: start !important;
  border: none !important;
  color: white !important;
  box-shadow: none !important;
 background-color:rgb(52, 118, 131) !important;
  /* background: linear-gradient(90deg, 0%, rgba(9, 9, 121, 1) 35%,  100%) !important; */

}
.nav_tab_name_Sura_nav-link:hover .nav_tab_name_Sura{

  width: 90% !important;
  text-align: start !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
 background-color:rgb(52, 118, 131) !important;
  /* background: linear-gradient(90deg, 0%, rgba(9, 9, 121, 1) 35%,  100%) !important; */

}

.top_header_1 a {
  text-decoration: none;
  color: white !important;
  padding: 0px 10px;
  padding-bottom: 10px !important;
}

.social_cion i {
  color: white !important;
}

.top_header {
  position: absolute !important;
  top: 0%;
  background-color: rebeccapurple !important;
  background-color: transparent !important;
}

.slider_canvas {
  transition: 0.5s ease-in-out !important;
  width: 15vw;
}

@media (max-width:992px) {

  .slider_canvas {
    transition: 0.5s ease-in-out !important;
    width: 85vw;
  }
}

.menu_icon_o {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  transform: rotate(90deg);
}

.logo_of_navbar {
  height: 60px;
}

.home_banner {
  height: 80vh !important;
  background-size: cover !important;
  object-fit: cover;
  background-position: center;
  /* background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 
)  */
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.shelft {
  height: 40px !important;
  width: 100% !important;
  z-index: 1;
  bottom: 2% !important;
  background-color: rebeccapurple !important;
  transform: rotateX(10deg) !important;

}

.z_2 {
  z-index: 2 !important;
}

.col_11_div a {
  padding: 5px !important;
  /* font-size: 14px; */
}

.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  /* optional dark overlay */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  /* space from bottom */
}

.donate_btn {
  background-color: #f2c94c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.donate_btn a {
  color: #000;
}

.nav_log {
  transform: scale(0.9);

  transition: 0.5s ease-in-out !important;
}

.donate_card_main_img {
  height: 250px !important;
}

.nav_log:hover {
  transform: scale(0.99);
}

.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4040414d;
  backdrop-filter: blur(2.5px);
  z-index: 100;
}

.donate_btn {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 5px;
}

.donate_btn a {
  font-size: 13px;
  text-transform: uppercase;
  color: #020024 !important;
}

.blur_bg {
  background-color: rgba(170, 169, 169, 0.041) !important;

  backdrop-filter: blur(10px);
}

.book_div img {
  transition: 0.6s ease-in-out;
}

.book_div:hover img {
  transform: scale(1.1) !important;
}

.home_banner {
  background-color: rgb(102, 36, 5);
}

.topbar_fix {
  transition: 0.6s ease-in-out;
  background-color: rgb(255, 255, 255);
  position: fixed !important;
  top: 0%;
  width: 100%;
}



.col_2_fix {
  background-color: white !important;
  top: 20%;
  z-index: 15 !important;
  height: max-content;
  position: sticky;
  left: 0%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.cus_copy_pop.title{
color: red !important;
}
.cus_copy_pop{
   background-color: white;
    border-radius: 4px !important;
    position: absolute;
    bottom: 4%;
    
    right: 1%;
    height: max-content !important;
    padding: 0% !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    padding-bottom: 10px;
   
}
 .cus_copy_pop .swal2-title {
  color: #6d94bb; /* darker green */
  font-size: 16px;
  padding: 10px 5px 
;
  font-weight: 400;
 }
 .home_lib_image{
  height: 200px !important;
object-fit: contain;
box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
border: 1px solid #f2c94c;
 }

/* Progress bar (timer) */
.swal2-timer-progress-bar {
  background: #6d94bb !important;
  height: 5px;
  border-radius: 4px;
}
.surah-max-div{
  background-color: transparent;
  border: 1px solid #bd910f ;
}

@media (min-width:992px) {
  .library_divs{
    height: 115vh !important;
  }
  
  .pagin-library-btn{
    position: absolute;
    bottom: 0% !important;
  }
}
 .btn_of_pagin_lib.active {
    background-color:#6d94bb !important;
    color: white !important;

  }
  .bg{

    color: white;
    background-color: #6d94bb;
  }


  .page_border_of_quran_page{
    padding:15px 5px ;
    border-radius: 10px;
    border: 2px solid #bd910f;
  }