/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Figtree */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --font_family_poppins:"Poppins", sans-serif;
   --font_family_Figtree: "Figtree", sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: var(--font_family_Figtree);
}

/* NAVBAR LARGE CSS START */
.lg_navbar  .dropdown-menu{
transition: 0.5s ease-in-out !important;
display: block;
opacity: 0;
visibility: hidden;
}
.lg_navbar .dropdown:hover .dropdown-menu{
opacity: 1;
visibility: visible;
}
.lg_navbar .dropdown-menu  .dropdown-item{
    border: 0 !important;
}
.lg_navbar .nav-item .nav-link{
font-size: 18px;
font-weight: 500;
padding: 0px 10px;
}
.carousel-item img{
    height: 70vh ;
    object-fit: cover;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position:center !important;
}
.scroll_top_btn{
    position: fixed;
    bottom: 5%;
    right: 1%;
    z-index: 100;
}
.scroll_top_btn button{
    border: 0;
    padding: 10px 15px;
    color: white;
    background-color: black;
    border-radius:50px ;
}
.offcanvas{
    /* width: 75%; */
    transition: 0.5s ease;
}
/* NAVBAR LARGE CSS END */
.single_surah_div {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 2px auto;
    border: 2px solid white !important;
    background-color: rgb(235, 235, 235);
}
.sinle_car{
    height: 40vh !important;
}
.arabi{
    padding: 10px 0px !important;
    font-size: 32px !important;
}
.ayah_name{
    background-color: white !important;

}



.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0; /* dropdown button ke bilkul sath rahe */
  }
  .dropdown-menu {
    top: 0;
    position: absolute;
    left: 40%
  }
  .slider_canvas{
    transition: 0.5s ease-in-out !important;
    width: 25vw;
}
@media (max-width:992px) {
    
  .slider_canvas{
    transition: 0.5s ease-in-out !important;
    width: 85vw;
}
}
  .menu_icon_o{
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    transform: rotate(90deg);
  }
  .logo_of_navbar{
    height: 60px;
  }
 
  .topbar_fix{
    transition: 0.6s ease-in-out;
    background-color: rgb(255, 255, 255);
    position: fixed !important;
    top: 0%;
    width: 100%;
 
    box-shadow: rgba(100, 100, 111, 0.082) 0px 7px 59px 0px;
  }

  .offcanvas-body .nav-item {
    margin: 3px 0px;
    padding: 3px 0px;
    border-bottom: 1px  solid rgb(235, 235, 235);
    transition: 0.2s ease-in-out !important;
}
.offcanvas-body .nav-item .nav-link{
    font-size: 17px;
    color: rgb(48, 48, 48);
    transition: 0.2s ease-in-out !important;
}
.offcanvas-body .nav-item .nav-link:hover{
    color: rgb(255, 255, 255);
}
.offcanvas-body .nav-item:hover{
    color: white;
    background-color: rgb(218, 188, 23);
}
